
.restaurant-card {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230,230, 230);
  margin: 15px;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 0.5px 1px rgb(230,230, 230);

  h3 {
    margin: 5px;
  }
}
